.appSection {
    min-height: 100vh;
    text-align: center;
    background: rgba(250, 210, 211, 0.3);
    position: relative;
}

.appSection::after {
    content: "";
    display: block;
    position: absolute;
    top: 48%;
    left: 0;
    height: 52% !important;
    width: 100vw !important;
    background: #FAD2D3;
    z-index: -200;
}

.appSection h1 {
    font-family: $source;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 80px;
    color: rgba(0, 0, 0, 0.8);
}

.appSection p {
    font-family: $source;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
    color: #000000;

}

.tryTheApp {
    font-size: 2.5rem !important;
    
}

.companion {
    font-family: "av";
    font-style: normal;
    font-weight: bold;
    font-size: 300px;
    line-height: 58px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 52%;
    left: 0;
    z-index: -400;
}

.track{
    text-align: left !important;
}

.dont {
    font-family: $source;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 1rem;
    text-align: center !important;
    color: #000000;
}
.icon-title{
    text-align: center !important;
    font-weight: 400 !important;
    font-size: 1.2rem !important;
    padding: 0;
}
