.comingSoon h4 {
  font-family: $source;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;    
  line-height: 35px;
}

.coming-soon{
    font-weight: 300;
}

.comingSoon p{
    font-family: $source;
    font-weight: 300;
    font-size: 1.3rem;
}