.footer {
    text-align: center;
}

.footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.getInTouch {
    background: #FAD2D3;
}

.getInTouch h3 {
    font-family: 'av';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 58px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-shadow: 0px 1px 10px #EC9BA7;
}

.getInTouch p {
    font-family: $source;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 3.5rem;
    text-align: center;
    color: #000000;
    margin: -12px;
    padding: 0;
}

.footerKosset {
    background: #FFB1C6
}

.footerKosset h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.footerKosset a{
    font-family: $source;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.footerKosset ul {
    list-style-type: none;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    list-style-type: none;
    padding: 0;
}
.footerKosset li{
    padding: 0.5rem 0;
}

.footerKosset .d-block{
    font-size: 1rem;
}

.kossetCare{
    background: #C3D5E2;
    font-family: 'av';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.kossetCare h1{
    text-transform: lowercase;
    color: white !important;
    font-family: av !important;
}

.end-footer{
    background: #2D2939;
    text-align: center;
}

.end-footer span{
    font-family: $source;
    font-weight: 300;
    color: white;
    font-size: 0.8rem;
}
.sudodevs{
    color: rgba(255, 255, 255, 0.7) !important;
}