.hero{
    height: 100vh;
    background: url("/static/img/herobg.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}   

.navbar-brand, .navbar-brand:hover{
    font-family: 'Advent Pro';
    font-size: 2rem;
    color: #FFFFFF;
}
.nav-item{
    font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.05em;

color: rgba(255, 255, 255, 0.9);
}

.nav-item:hover{
    color: rgba(255, 255, 255, 0.99);
}

.nav-btn{
    border: 1.5px solid rgba(255, 255, 255, 0.8);
}