.hero{
    height: 100vh;
    background: url("/static/img/herobg.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}   

.nav{
    font-family: 'Advent Pro';
    font-size: 3rem;
}