.hero {
  font-family: $source;
  height: 100vh;
  background: url("/static/img/herobg.png");
  // background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}


.navBuy:hover{
  background: #ffffff;
  color:#7A7A7A !important;
}

.navbar-brand,
.navbar-brand:hover {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-link {
  margin: 0 5px;
}

.nav-item {
  font-family: $source;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 0.05em;

  color: rgba(255, 255, 255, 0.9) !important;
  transition: all ease-in 500ms;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0.99);
}

.nav-btn {
  border: 1.5px solid rgba(255, 255, 255, 0.8);
}

.navbar-black {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100vw;
  left: 0;
  padding: 0.25rem 16.5rem !important;
}

.wrapper {
  height: 80%;
}

.heroLeadLine {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 0.02em;
  color: rgba(255, 254, 254, 0.8);
}

.heroNatural {
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  letter-spacing: 0.05em;
  color: rgba(255, 254, 254, 0.9);
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.heroPara {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  animation-duration: 3s;

  color: rgba(255, 254, 254, 0.8);
}

//  ------------------NAVBAR -----------------

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #b6b6b6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  outline: 0 !important;
}

// ----------NAV ANIMATION--------
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.full-screen {
  background-color: white;
}

.dropdown-menu{
  animation-duration: 400ms !important; 
}
.dropdown-item.active, .dropdown-item:active{
  background-color: #7A7A7A;
  color: white !important;
}
