// --------------MEDIA QUERY-------------
@media only screen and (max-width: 768px) {

    .navbar-nav {
        background-color: #A798D5;
        text-align: center;
      }
      .navbar-black{
        padding: 0 1.5rem !important;
      }
      
      .heroLeadLine{
        font-size: 1rem;
      }
      .heroNatural{
        font-size: 2rem;
        padding: 5px 0;
      }
      .heroPara{
        font-size: 0.8rem;
      }
      .nav-item{
        font-size: 1rem;
      }

    .companion {
        font-size: 4rem;
    }
    .natural,.experience {
        font-size: 4rem;
    }

    .productsSection{
        margin: 2rem 0 4rem 0 !important;
        padding: 0 !important;
    }
    .static{
        font-size:1rem !important;
        line-height: 1rem;
    }
    .natural,.experience{
        display: none;
    }
    .productBanner2-text li{
      font-size: 1rem;
      line-height: 3rem;
    }
    .appSection h1{
      font-size: 1.8rem;
      line-height: normal;
      padding-top: 1.5rem;
    }
  
    .tryTheApp{
      font-size: 1.2rem !important;
    }
    .just{
      font-size: 1rem !important;
    }
    .phone {
      width: 200px;
      height: auto;
    }
    .play-store-icon {
      width: 150px;
      height: auto;
    }
    .cal-icon, .sub-icon{
      width: 100px;
    }
    .track{
      font-size: 0.8rem !important;
      text-align: center !important;
    }
    .dont{
      font-size: 1rem !important;
    }
    .comingSoon h4{
      font-size: 1.2rem;
      padding-top: 2rem;
    }
    .coming-soon{
      font-size: 1.2rem;
      opacity: 0.4;
    }
    .comingSoon p {
      font-size: 1rem;
    }
    .comingSoon .col-sm-2{
      text-align: center;
    }
    .closet-icon {
      width: 80px;
      height:auto;
    }
    .mag-icon{
      width: 80px;
      padding-bottom: 2rem;
    }
    // -------------FOOTER----------
    .getInTouch h3, .footerKosset h3, .kossetCare a{
      font-size: 1.5rem;
      margin-bottom: 0;
    }
    .getInTouch p, .footerKosset li{
      font-size: 1rem;
      // line-height: 3rem;
    }

    .kossetCare img{
      width: 40px;
      height: 40px;
    }
    .faq-title{
      font-size: 2rem !important;
    }
    .faq-hero p{
      font-size: 0.9rem !important;
    }
    .faq-topic{
      font-size: 1.5rem !important;
    }
    .card-body{
      font-size: 0.8rem;
    }
    #purpleNav{
      padding: 0 1rem !important;
    }
    .icon-bar{
      color: white;
      background: white;
    }
  }