// --------------MEDIA QUERY-------------
@media only screen and (max-width: 768px) {

    .navbar-nav {
        background-color: #A798D5;
        text-align: center;
      }
      
      .heroLeadLine{
        font-size: 1rem;
      }
      .heroNatural{
        font-size: 2rem;
        padding: 5px 0;
      }
      .heroPara{
        font-size: 0.8rem;
      }
      .nav-item{
        font-size: 1rem;
      }

    .companion {
        font-size: 4rem;
    }
    .natural,.experience {
        font-size: 4rem;
    }

    .productsSection{
        margin: 2rem 0 4rem 0 !important;
        padding: 0 !important;
    }
    .static{
        font-size:1rem !important;
        line-height: 1rem;
    }
    .natural,.experience{
        display: none;
    }
  }