// --------------MEDIA QUERY-------------
@media only screen and (max-width: 768px) {
  .navbar {
    padding-left: 0.5rem;
  }
  .navbar-nav {
    background-color: #a798d5;
    text-align: center;
  }
  .navbar-black {
    padding: 0 1.75rem !important;
  }
  #purpleNav {
    padding: 0 1.5rem !important;
  }

  .hero {
    height: 95vh;
    background: url("/static/img/herobgM.png");
    background-position: right bottom 0.2px;
  }

  .heroLeadLine {
    font-size: 1rem;
  }
  .heroNatural {
    font-size: 2rem;
    padding: 5px 0;
  }
  .heroPara {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .nav-item {
    font-size: 1rem;
  }
  .wrapper{
    width: 100%;
    justify-content: center;
  }


  .productsSection {
    margin: 2rem 0 4rem 0 !important;
    padding: 0 !important;
  }
  .static {
    font-size: 1rem !important;
    line-height: 1rem;
  }

  .productBanner1-text p {
    line-height: 2rem;
  }

  .buyNow {
    text-align: center;
  }

  .buyNow-Pb2 {
    width: 30%;
  }

  .productBanner2-text li {
    font-size: 1rem;
    line-height: 2rem;
  }
  .productBanner2-text {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .appSection::after {
    top: 45%;
    height: 55% !important;
  }

  .appSection h1 {
    font-size: 1.8rem;
    line-height: normal;
    padding-top: 1.5rem;
  }

  .tryTheApp {
    font-size: 1.2rem !important;
  }
  .just {
    font-size: 1rem !important;
  }
  .phone {
    width: 200px;
    height: auto;
  }
  .play-store-icon {
    width: 150px;
    height: auto;
  }
  .cal-icon,
  .sub-icon {
    width: 60px;
    height: 80px;
  }
  .track {
    font-size: 0.8rem !important;
    text-align: center !important;
  }
  .dont {
    font-size: 1rem !important;
  }
  .comingSoon h4 {
    font-size: 1.2rem;
    padding-top: 2rem;
  }
  .coming-soon {
    font-size: 1.2rem;
    opacity: 0.4;
  }
  .comingSoon p {
    font-size: 1rem;
  }
  .comingSoon .col-sm-2 {
    text-align: center;
  }
  .closet-icon {
    width: 80px;
    height: auto;
  }
  .mag-icon {
    width: 80px;
    padding-bottom: 2rem;
  }
  // -------------FOOTER----------
  .getInTouch h3,
  .footerKosset h3,
  .kossetCare a {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .getInTouch p,
  .footerKosset li {
    font-size: 1rem;
    // line-height: 3rem;
  }

  .kossetCare img {
    width: 40px;
    height: 40px;
  }
  .faq-title {
    font-size: 2rem !important;
  }
  .faq-hero p {
    font-size: 0.9rem !important;
  }
  .faq-topic {
    font-size: 1.5rem !important;
  }
  .card-body {
    font-size: 0.8rem;
  }
  #purpleNav {
    padding: 0 1rem !important;
  }
  .icon-bar {
    color: white;
    background: white;
  }

  // ----------ECOMMERCE PAGE-------------
  .ecommercePage h1 {
    font-size: 1.875rem !important;
    line-height: normal !important;
    margin-bottom: 0;
  }
  .sub-heading,
  .contents {
    font-size: 1rem !important;
    line-height: 1.5 !important;
    margin-bottom: 0;
    padding: 0.25rem 0;
  }
  .free {
    font-size: 0.93rem !important;
  }
  .choose {
    font-size: 0.9rem !important;
    line-height: 1.2 !important;
  }
  .content-row-text p {
    line-height: 1 !important;
    font-size: 1rem !important;
    margin-bottom: 0 !important;
  }
  .content-rows .input-group {
    margin: 0.75rem 0;
  }
  .buttons-row .order-2 {
    margin-top: 1.5rem !important;
  }
  .total-15 {
    margin-top: -1rem;
    font-size: 0.8rem !important;
  }
  // ------------CART----------

  .headingRow h1 {
    font-size: 1.875rem !important;
    margin-bottom: 0.25rem;
  }
  .kossetBoxCart h1,
  .trialBoxCart h1 {
    margin-top: 1rem !important;
  }
  .content-row-text p,
  .col-1 {
    padding: 0.9rem 0;
  }
  .quantityBox h3 {
    font-size: 1rem !important;
  }
  .perBox {
    font-size: 0.6rem !important;
  }
  .quantityBox {
    padding: 5px !important;
    border: 1px solid #ffa7bf;
  }

  .selectQuantity {
    font-size: 1rem !important;
  }

  // ----------CART CHECKOUT SECTION-------
  .orderSummary {
    font-size: 1.5rem !important;
    padding: 1rem 0;
  }
  .checkout-row {
    margin-top: 1rem;
  }
  .checkout-row .col-9 {
    font-size: 1rem !important;
  }
  .checkout-row .col-9 span {
    font-size: 0.8rem;
  }
  .haveCoupon,
  .couponCode {
    font-size: 1rem !important;
    line-height: normal !important;
  }
  .checkoutButton {
    font-size: 1rem !important;
  }
  // ------------SUMMARY-----------
  .headingRow .col-12 {
    margin-bottom: 0.5rem;
  }
  .summary .headingRow h1,
  .summaryCheckout h2 {
    font-size: 1.4rem !important;
  }
  .kossetBoxSummary h1,
  .trialBoxSummary h1 {
    font-weight: 600 !important;
    font-size: 1.5rem !important;
  }
  .kossetBoxSummary .content-row-text p,
  .trialBoxSummary .content-row-text p {
    padding: 0.5rem 0;
  }
  .kossetBoxSummary .quantityRow,
  .kossetBoxSummary .quantityRow .quantity .trialBoxSummary .quantityRow,
  .trialBoxSummary .quantityRow .quantity {
    font-size: 1rem !important;
  }

  .summaryBoxRow {
    margin: 0 0.25rem;
  }
  .summaryBoxText {
    font-size: 1rem !important;
    padding: 0 1.2rem !important;
  }
  .summaryBoxNum {
    font-size: 1.2rem !important;
    padding: 0 1.2rem !important;
  }
  .kossetBoxSummary .content-row-text span,
  .trialBoxSummary .content-row-text span {
    padding-top: 0.25rem !important;
  }
  .addressText {
    font-size: 1rem !important;
  }
  .addAddress {
    font-size: 0.875rem !important;
  }
}


// -----------------
@media only screen and (min-width: 1440px) {
  
  .heroPara {
    font-size: 1.325rem !important;
  }
}