.productsSection {
  // padding: 50px 2px !important;
  margin: 5vh 5vw;
  padding: 50px 50px;
}

.productsSection .row .col-md-4 {
  margin: 0 !important;
  padding: 0 !important;
}

.productsSection img {
  z-index: 10;
}

.productsSection .row .col-4 {
  margin: 0 !important;
  padding: 0 !important;
}
.static {
  font-family: $source;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  z-index: 10 !important;
}
.hover,
.hover-left {
  font-family: $source;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  z-index: -10 !important;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-700px);
}
// .row:hover .hover {
//   transform: none;
//   opacity: 1;
// }

.hover-left {
  transform: translateX(700px);
}
.unhovered {
  transform: none;
  opacity: 1;
}
// .row:hover .hover-left {
//   transform: none;
//   opacity: 1;
// }
.natural,
.experience {
  font-family: "av", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 260px;
  line-height: 58px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.15);
  z-index: -999;
}
.natural {
  transform: translateY(-900px) translateX(30vw);
}
.experience {
  transform: translateY(-300px) translateX(30vw);
}

