.productsSectionCard {
  display: block;
  min-height: 430px;
  max-width: 33vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greenCard{
    background: $green;
}
.pinkCard{
    background:$pink;
}
.cardBg1 {
  background: url("/static/img/tile1.webp") no-repeat center;
  background-size: cover;
}
.cardBg2 {
  background: url("/static/img/tile2.webp") no-repeat center;
  background-size: cover;
}
.cardBg3 {
  background: url("/static/img/tile3.webp") no-repeat center;
  background-size: cover;
}
.cardBg4 {
  background: url("/static/img/tile4.webp") no-repeat center;
  background-size: cover;
}
.cardBg5 {
  background: url("/static/img/tile5.webp") no-repeat center;
  background-size: cover;
}
