.productBanner2 {
    // height: 80vh;
    font-family: $source;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 52px;
    color: #000000;
    margin-top: -2rem;
}

.productBanner2-text {
    background: $green;
    line-height: 4rem;
    padding: 5vh 5vw;
}
.productBanner2 ul{
    list-style-type: none;
}
