.productsSectionCard{
    display: block;
    min-height:430px;
    max-width: 33vw;
    text-align: center;
}
.greenCard{
    background: #C1D0D3;
}
.pinkCard{
    background:rgba(250, 210, 211, 0.9);
}
.productsSection{
    padding: 50px;

}
.productsSection .row .col-md-4{
    margin: 0 !important;
    padding: 0 !important;

}