.productBanner2 {
    height: 65vh;
    font-family: $source;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 52px;
    color: #000000;
}

.productBanner2-text {
    background: $green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh 5vw;
}

.productBanner2-image {
    background: url("/static/img/sec2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.productBanner2 ul{
    list-style-type: none;
}