.productsSection{
    // padding: 50px 2px !important;
    margin: 5vh 5vw !important;
}
.greenCard{
    background: $green;
}
.pinkCard{
    background:$pink;
}
.productsSection{
    padding: 50px;
}
.productsSection .row .col-md-4{
    margin: 0 !important;
    padding: 0 !important;
}