
.productBanner1-text {
  background: $pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}


.buyNow-Pb, .buyNow-Pb2{
  font-family: $source;
}
.buyNow-Pb2{
  width: 25%;
}

.productBanner1-text .banner1-title {
  font-family: $source;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 48px;
  color: #000000;
}
.productBanner1-text p {
  font-family: $source;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #000000;
}
// ---------------MEDIA QUERIES------------
@media only screen and (max-width: 768px) {
  .banner1-title{
    text-align: center;
    font-size: 1.5rem !important;
  }
  .productBanner1-text p{
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
  }
}
