.productBanner2 {
    height: 65vh;
}

.productBanner2-text {
    background: $green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh 5vw;
}

.productBanner2-image {
    background: url("/static/img/sec2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}