.productsSectionCard {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greenCard{
    background: $green;
}
.pinkCard{
    background:$pink;
}

.info-text-card{
  font-size: 0.8rem;
}
